<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TetrisBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TetrisBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TetrisBot.Properties.Settings>
            <setting name="BoardPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BoardSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="NextFigurePos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="NextFigureSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PauseBtwPressingKeys" serializeAs="String">
                <value>10</value>
            </setting>
        </TetrisBot.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <TetrisBot.Properties.Settings>
            <setting name="CalibrationInfo" serializeAs="String">
                <value>Your calibrated data is: {0}Board:{0}Position: {1}{0}Size: {2}{0}Next figure field{0}Position: {3}{0}size: {4}</value>
            </setting>
            <setting name="MustCalibrate" serializeAs="String">
                <value>You have to calibrate the programm before playing tetris. To do this, upload images of your board and next figure field and press Run Calibration button</value>
            </setting>
            <setting name="CalibrationWaitMessage" serializeAs="String">
                <value>Please wait, calibration may take some time</value>
            </setting>
            <setting name="CalibrationBoardError" serializeAs="String">
                <value>Error, Board not found!</value>
            </setting>
            <setting name="CalibrationNextFigureError" serializeAs="String">
                <value>Error, Next figure field not found!</value>
            </setting>
            <setting name="PauseBtwPresText" serializeAs="String">
                <value>Pause between pressing keys: {0} ms</value>
            </setting>
            <setting name="ErrorNext" serializeAs="String">
                <value>Next figure was not recognised!</value>
            </setting>
            <setting name="ConsoleString" serializeAs="String">
                <value>The scanned field: {0}{1}{0}New figure: {2}{0}Next Figure: {3}{0}Decided to move {4} and rotate {5}</value>
            </setting>
            <setting name="LogTextMustCalibrate" serializeAs="String">
                <value>You have to calibrate the programm before playing tetris. To do this switch to Calibration tab , upload images of your board and next figure field and press Run Calibration button</value>
            </setting>
            <setting name="LogTextCalibrationDone" serializeAs="String">
                <value>The TetrisBot is calibrated, press play to start the bot!</value>
            </setting>
        </TetrisBot.Properties.Settings>
    </applicationSettings>
</configuration>